body {
    margin: 0;
    padding: 0;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

p{
    text-decoration: none;
    color: black;
}

.background{
    margin-top: -5%;
    width: 180%;
    margin-top: 40%;
    margin-left: -30%;
    position: fixed;
    z-index: -10;
    filter: blur(4px);
    opacity: 50%;
}

.main{
    margin: 3% 3%;
}

.header{
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    margin: 10% 0 2%;
}


.ilist{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.items{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 4% 0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: left;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
}

.name{
    text-align: left;
    font-family: 'name';
    font-size: 1.2em;
    font-weight:bolder;
    color: black;
    margin: 10% 0 4%;
}

.des1{
    text-align: left;
    font-family: 'name';
    font-size: 1em;
    color: black;
    margin: 0;
    line-height: 180%;
}

.des{
    text-align: center;
    font-family: 'name';
    font-size: 1.5em;
    color: rgba(20,149,240,255);
    margin-bottom: 0;
    margin-top: 4%;
}

.round{
    border-radius: 50%;
}

#avt{
    font-size: 12px;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    /* background-color: rgb(255, 255, 255); */
    background-image: url("img//d4fbf740-9ce1-4729-b3e0-6abce82e8fe6.png");
    background-size: 100%;
    background-position-x: 30%;
    background-position-y: 50%;
    margin: auto;
    background-repeat: no-repeat;
}
#avt2{
    font-size: 12px;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-image: url("img//z4056411278584_5b80cb283419bfaf496d86b53a7a4b5d.jpg");
    background-size: 100%;
    background-position-x: 15px;
    margin: auto;
    background-repeat: no-repeat;
}

.avt2{
    background-image: url("img//avt.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;  
}

#deco{
    font-size: 12px;
    width: 12em;
    height: 12em;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deco2{
    font-size: 12px;
    width: 10em;
    height: 10em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@font-face {
    font-family: name;
    src: url("Fonts//arial.ttf");
} 


@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}